{
  "parser": "babel-eslint",
  "extends": ["@folio/eslint-config-stripes/acquisitions"],
  "rules": {
    "no-multiple-empty-lines": "off",
    "react/react-in-jsx-scope": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
